<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ system.web_deps["bootstrap-icons.css"] }}"/>

    <!-- Highlight default/dark depending on the theme -->
    {% if system.darktheme == True %}
        <link rel="stylesheet" href="{{ system.web_deps["dark.min.css"] }}">
    {% else %}
        <link rel="stylesheet" href="{{ system.web_deps["default.min.css"] }}">
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- wikmd custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wiki.colors.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wiki.css') }}">
    {% if system.darktheme == True %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wiki.dark.css') }}">
    {% endif %}
    {% block head %}{% endblock %}
    {% for plug in system.plugins %}{% if plug.import_head is defined %}{{plug.import_head()|safe}}
    {% endif%}{%endfor%}
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- fonts -->
    <style>
        @font-face {
            font-family: 'Quicksand';
            src: url('{{ system.web_deps["quicksand.woff2"] }}') format('woff2');
        }
    </style>

    <title>{{ system.wiki_title }}</title>
</head>

<body >
    <!-- Navbar top -->
    <div class="navbar bg-base-100 border-b-2 px-5">
      <div class="flex-1">
        <img style="height:20px" src="{{ url_for('static', filename='images/logo.svg') }}">
        <b><a class="text-xl ml-3">{{system.wiki_title}}</a></b>
      </div>
      <div class="flex-none gap-2">
        <div class="form-control">
          <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto btn-md" />
        </div>

        <div class="items-end d-flex">
            <button class="btn btn-outline btn-primary btn-md"><a>New Page</a></button>
            <button class="btn btn-primary btn-md"><a>Edit</a></button>
            <button class="btn btn-md"><a>Delete</a></button>

          </div>
        </div>
      </div>
    </div>
   {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="bg-gray-200 p-4 rounded my-4">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <!-- Page -->
    <div>

        <!-- Content -->
        <div class="container mx-auto mt-3 px-5">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="flex justify-center py-3 my-4 border-t mx-2">
            <ul class="flex space-x-4">
                <li>
                    <a class="text-gray-500" href="https://github.com/Linbreux/wikmd">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <span class="text-gray-500">© 2024 wikmd</span>
                </li>
            </ul>
        </footer>
    </div>

    <!-- Scripts -->
    <!-- Required JS files -->
    <script src="{{ system.web_deps['bootstrap.bundle.min.js'] }}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{ system.web_deps['jquery.slim.min.js'] }}" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="{{ system.web_deps['polyfill.min.js'] }}"></script>
    <script id="MathJax-script" async src="{{ system.web_deps['tex-mml-chtml.js'] }}"></script>
    <script src="{{ system.web_deps['highlight.min.js'] }}"></script>
    <script>hljs.highlightAll();</script>

    {% block scripts %}
    {% endblock %}
    
    {% for plug in system.plugins %}{% if plug.add_script is defined %}{{plug.add_script()|safe}}{% endif%}{% endfor %}

</body>

</html>
