{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ system.web_deps["notyf.min.css"] }}">
    <script>
        const darktheme = '{{system.darktheme}}'
    </script>
{% endblock %}

{% block navbar_buttons %}
<a class="btn btn-primary btn-md" href="/edit/{% if folder %}{{ folder }}/{% endif %}{{ title }}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg>
  Edit</a>
<button class="btn btn-md" onclick="delete_modal.showModal()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg>
  Delete
</button>
{% endblock %}

{% block content %}
<div class="flex gap-3 flex-row">
  <div class="mt-5  max-sm:hidden">
    <ul class="menu rounded-box w-56">
      <li><a>Item 1</a></li>
      <li>
        <a>Parent</a>
        <ul>
          <li><a>Submenu 1</a></li>
          <li><a>Submenu 2</a></li>
          <li>
            <a>Parent</a>
            <ul>
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a>Item 3</a></li>
    </ul>
    <div class="flex flex-row gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H17V14H11V7H13V12Z"></path></svg>
    <a style="font-size: inherit;font-weight: inherit;">{{ modif }}</a>
    </div>

  </div>
  <div class="shadow-inner p-5 rounded-lg">
    <h1 class="title">{% if folder %}
      <a class="folder" style="{% if system.darktheme %} color:whitesmoke {% else %} color:#222326 {% endif %}"
                        href="/list/{{ folder }}">{{ folder }}</a>/
                      {% endif %}
                      {{ title }}.md
    </h1>
    {{ info|safe }}
    <hr>
    <div>

    </div>

    <dialog id="delete_modal" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Are you sure you want to delete this page?</h3>
        <p class="py-4"><b>{% if folder %}{{ folder }}/{% endif %}{{ title }}</b> will be removed. This action can not be undone!</p>
        <div class="modal-action">
          <!-- if there is a button in form, it will close the modal -->
          <form method="dialog" action="/remove/{% if folder %}{{ folder }}/{% endif %}{{ title }}" method="GET">
            <button class="btn">Cancel</button>
            <button type="submit" class="btn btn-error">Delete</button>
          </form>
        </div>
      </div>
    </dialog>
  </div>

</div>
{% endblock %}

{% block scripts %}
    <script src="{{ system.web_deps["notyf.min.js"] }}"></script>
    <script src="/static/js/copypaste.js"></script>
{% endblock %}
