{% extends 'base.html' %}

{% block content %}
    <a class="link-dark text-decoration-none float-end" href="/toggle-sorting">Sort ({% if system.listsortMTime %}last modified{% else %}a-z{% endif%})</a>
    <h2><b>{{ folder }}</b> ALL FILES</h2>
    <ul class="list-group list-group-flush h5">
        <li class="list-group-item"><i class="bi bi-folder pe-3"></i><i><a class="link-dark text-decoration-none" href="../">..</a></i></li>
        {% for i in list.children %}
            <li class="list-group-item">
                {% if i.children %}
                    <i class="bi bi-folder pe-3"></i><a class="link-dark fst-italic" href="/list/{{ i.url }}/">{{ i.name }}/ </a>
                {% else %}
                    <i class="bi bi-file-earmark-text pe-3"></i><a class="link-dark text-decoration-none" href="/{{ i.url }}">{{ i.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
