@import "wiki.colors.css";

body {
    background-color: var(--bg-dark);
    color: var(--txt-dark);
}

.modal-content {
    background-color: var(--bg-modal-dark);
    color: var(--txt-dark);
}

code, pre {
    background-color: var(--bg-codeblock-dark);
    color: #d88;
}

blockquote {
    padding: 5px 50px;
    margin-left: 0px;
    border-left: 4px solid var(--quotes-color);
    background-color: var(--bg-codeblock-dark);
}

blockquote p{
    margin-top:10px;
    font-weight: 300;
}

pre {
    background-color: var(--bg-codeblock-dark);
}

.hljs {
    background-color: var(--bg-codeblock-dark);
}

#list a.folder{
    border-bottom: 1px solid var(--txt-dark);
    font-weight: 800;
}


.container a:any-link{
    color:var(--txt-dark);
    border-bottom: 1px solid var(--txt-dark);
}

.container a.nostyle{
    border-bottom: none;
