@import "wiki.colors.css";

body {
    background-color: var(--bg-dark);
    color: var(--txt-dark);
}

.modal-content {
    background-color: var(--bg-modal-dark);
    color: var(--txt-dark);
}

code, pre {
    background-color: var(--bg-codeblock-dark);
    color: #d88;
}

pre {
    background-color: var(--bg-codeblock-dark);
}

.hljs {
    background-color: var(--bg-codeblock-dark);
}