@import "wiki.colors.css";

body {
    background-color: var(--bg-dark);
    color: var(--txt-dark);
}

.modal-content {
    background-color: var(--bg-modal-dark);
    color: var(--txt-dark);
}

code, pre {
    background-color: var(--bg-codeblock-dark);
    color: #d88;
}

blockquote {
    padding: 5px 50px;
    margin-left: 0px;
    border-left: 4px solid var(--quotes-color);
    background-color: var(--bg-codeblock-dark);
}

blockquote p{
    margin-top:10px;
    font-weight: 300;
}

pre {
    background-color: var(--bg-codeblock-dark);
}

div.html-integration{
  background-color: var(--html-integration-background-dark)
}

.hljs {
    background-color: var(--bg-codeblock-dark);
}

.form-control,
.form-control:focus {
    background-color: var(--bg-codeblock-dark);
    border-color: var(--bg-modal-dark);
    color: var(--txt-dark);
}

.list-group-item,
.list-group-item {
    background-color: var(--bg-dark);
    color: var(--txt-dark);
}

.link-dark:visited,
.link-dark:hover,
.link-dark {
    color: var(--txt-dark);
}