@import "wiki.colors.css";

body {
    background-color: var(--bg-light);
    color: var(--txt-light);
}

.modal-content {
    background-color: var(--bg-modal-light);
    color: var(--txt-light);
}

blockquote {
    padding: 5px 50px;
    margin-left: 0px;
    border-left: 4px solid var(--quotes-color);
    background-color: var(--bg-codeblock-light);
}

blockquote p{
    margin-top:10px;
    font-weight: 300;
}

code, pre {
    font-family: monospace;
    background-color: var(--bg-codeblock-light);
    color: #800;
    border-radius: 5px;
    padding: 4px;
    font-size: 14px
}

pre {
    background-color: var(--bg-codeblock-light);
    padding: 6px;
    border-radius: 6px;
    position: relative;
}

pre img {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 0.15rem;
  cursor: pointer;
  display: inline;
}

img {
    max-width: 100%
}

figure {
    text-align: center
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.hljs {
    background-color: var(--bg-codeblock-light);
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
}

td {
    padding: 12px;
    border-top: 1px solid #dee2e6;
}

h1{
    font-size: 2em;
    font-family: "quicksand";
}

h1.title{
    font-size: 2.5em;
    font-family: "Helvetica";
}

h2 {
    font-size: 1.8em;
    font-family: "quicksand";
}

h3 {
    font-size: 1.5em;
    font-family: "quicksand";
}


h4{
    font-size: 1.3em;
    font-family: "quicksand";
}


.alert i[class^="bi-"]{
    font-size: 1.5em;
    line-height: 1;
    margin-right: 10px;
  }

div.html-integration{
  background-color: var(--html-integration-background-light);
  padding: 20px;
}


.mermaid {
    text-align: center;
}

.footnote-back {
    margin-left: 0.5em;
}

.btn-md{
  height:2.5rem;
  min-height:2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

input[type=text] {
  background-color: white;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCBkPSJNMTguMDMxIDE2LjYxNjhMMjIuMzEzNyAyMC44OTk1TDIwLjg5OTUgMjIuMzEzN0wxNi42MTY4IDE4LjAzMUMxNS4wNzY5IDE5LjI2MyAxMy4xMjQgMjAgMTEgMjBDNi4wMzIgMjAgMiAxNS45NjggMiAxMUMyIDYuMDMyIDYuMDMyIDIgMTEgMkMxNS45NjggMiAyMCA2LjAzMiAyMCAxMUMyMCAxMy4xMjQgMTkuMjYzIDE1LjA3NjkgMTguMDMxIDE2LjYxNjhaTTE2LjAyNDcgMTUuODc0OEMxNy4yNDc1IDE0LjYxNDYgMTggMTIuODk1NiAxOCAxMUMxOCA3LjEzMjUgMTQuODY3NSA0IDExIDRDNy4xMzI1IDQgNCA3LjEzMjUgNCAxMUM0IDE0Ljg2NzUgNy4xMzI1IDE4IDExIDE4QzEyLjg5NTYgMTggMTQuNjE0NiAxNy4yNDc1IDE1Ljg3NDggMTYuMDI0N0wxNi4wMjQ3IDE1Ljg3NDhaIj48L3BhdGg+PC9zdmc+');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 12px 20px 12px 40px;
}
