@import "wiki.colors.css";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: var(--bg-light);
    color: var(--txt-light);
}

.modal-content {
    background-color: var(--bg-modal-light);
    color: var(--txt-light);
}

blockquote {
    padding: 5px 50px;
    margin-left: 0px;
    border-left: 4px solid var(--quotes-color);
    background-color: var(--bg-codeblock-light);
}

blockquote p{
    margin-top:10px;
    font-weight: 300;
}

code, pre {
    font-family: monospace;
    background-color: var(--bg-codeblock-light);
    color: #800;
    border-radius: 5px;
    padding: 4px;
    font-size: 14px
}

pre {
    background-color: var(--bg-codeblock-light);
    padding: 6px;
    border-radius: 6px;
    position: relative;
}

pre img {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 0.15rem;
  cursor: pointer;
  display: inline;
}

img {
    max-width: 100%
}

figure {
    text-align: center
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.hljs {
    background-color: var(--bg-codeblock-light);
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
}

td {
    padding: 12px;
    border-top: 1px solid #dee2e6;
}

h1{
    font-size: 2em;
    font-family: "quicksand";
}

h1.title{
    font-size: 2.5em;
    font-family: "Helvetica";
}

h2 {
    font-size: 1.8em;
    font-family: "quicksand";
}

h3 {
    font-size: 1.5em;
    font-family: "quicksand";
}


h4{
    font-size: 1.3em;
    font-family: "quicksand";
}


.alert i[class^="bi-"]{
    font-size: 1.5em;
    line-height: 1;
    margin-right: 10px;
  }

div.html-integration{
  background-color: var(--html-integration-background-light);
  padding: 20px;
}


.mermaid {
    text-align: center;
}

.wmd-main {
  grid-area:main;
}


@media (min-width: 768px) {
  .wmd-main {
    display:grid;
    gap:inherit;
    grid-template-areas:"intro" "toc" "content";
    grid-template-rows:auto auto 1fr;
  }
}
@media (min-width: 992px) {
  .wmd-main {
    grid-template-areas:"intro   toc" "content toc";
    grid-template-columns:4fr 1fr;
    grid-template-rows:auto 1fr;
  }
}

@media (min-width: 768px) {
  .wmd-layout {
    display:grid;
    gap:1.5rem;
    grid-template-areas:"sidebar main";
    grid-template-columns:1fr 3fr;
  }
}
@media (min-width: 992px) {
  .wmd-layout {
    grid-template-columns:1fr 5fr;
  }
}

.wmd-sidebar {
  grid-area:sidebar;
}
.wmd-main {
  grid-area:main;
}

@media (max-width: 991.98px) {
  .wmd-sidebar {
    width: 100%;
  }
}
.wmd-sidebar .active {
  border-radius: 5px;
}

.wmd-sidebar ul {
    list-style-type: none;
    padding-left: 0.5rem;
}

.wmd-links {
  overflow:auto;
  font-weight:600;
}

@media (min-width: 768px) {
  .wmd-links {
    position:-webkit-sticky;
    /*! position:sticky; *//*! top:5rem; *//*! display:block !important; */height:calc(100vh - 7rem);
    padding-left:.25rem;
    margin-left:-.25rem;
    overflow-y:auto;
  }
}
@media (max-width: 767.98px) {
  .wmd-links>ul {
    padding:1.5rem .75rem;
    background-color:#f8f9fa;
    border-bottom:1px solid #e9ecef;
  }
}

.wmd-links a {
  padding:.1875rem .5rem;
  margin-top:.125rem;
  margin-left:1.25rem;
  color: var(--txt-light);
  text-decoration:none;
}

.wmd-links .btn {
  padding:.25rem .5rem;
  font-weight:600;
  color: var(--txt-light);
  background-color:transparent;
  border:0;
}

.wmd-links .btn::before {
  width:1.25em;
  line-height:0;
  content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28128,128,128,1%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition:transform 0.35s ease;
  transform-origin:.5em 50%
}

.wmd-links .btn:hover,
.wmd-links .btn:focus {
  color: var(--txt-light);
  background-color:rgba(121,82,179,0.1);
}

.wmd-links .btn[aria-expanded="true"] {
  color:rgba(0,0,0,1);
  font-style: oblique;
}

.wmd-links .btn[aria-expanded="true"]::before {
  transform:rotate(90deg)
}
.wmd-links .active {
  font-weight:600;
  color: var(--txt-light);
}
.wmd-links a:hover,
.wmd-links a:focus {
  color: var(--txt-light);
  background-color:rgba(121,82,179,0.1);
}

