:root {
    /* Backgrounds */
    --bg-light: white;
    /* old colors --bg-dark: #181a1c; */
    --bg-dark: #222529;

    --html-integration-background-light: #e3e3e3;
    --html-integration-background-dark: #2f2f2f;

    --txt-light: #212529;
    --txt-dark: whitesmoke;

    --bg-codeblock-light: whitesmoke;
    /* old colors --bg-codeblock-dark: #27272a;*/
    --bg-codeblock-dark: #1c1c1c;

    --bg-modal-light: white;
    --bg-modal-dark: #343a40;

    --quotes-color: orange;

    /* CodeMirror */
    --linenumber-dark-color: #77797c;

    /* FilePond */
    --bg-filepond-dark: #303033;

    /* Default primary */
    --prmry-color: #b8daff;
}
