{% extends 'base.html'%}

{%block content%}
<h1>{%if folder%}
        <a style="{%if system.darktheme%}color:white{%else%}color:black{%endif%}" href="/list/{{folder}}">{{folder}}</a>/
        {%endif%}
        {{title}}</h1><hr>
{{info|safe}}
<hr>
<p>{{modif}}</p>
<a href="/edit/{{title}}">Edit page</a>
{%endblock%}
