{% extends 'base.html' %}

{% block content %}
    <h1>{% if folder %}
        <a style="{% if system.darktheme %}color:white{% else %}color:black{% endif %}"
           href="/list/{{ folder }}">{{ folder }}</a>/
    {% endif %}
        {{ title }}
        <a style="float:right" href="/edit/{% if folder %}{{ folder }}/{% endif %}{{ title }}">
            <img height="30px" src="/static/images/edit.svg"/>
        </a>
        <a style="float:right" data-target="#removeModal" data-toggle="modal" href="#removeModal">
            <img height="30px" src="/static/images/delete.svg"/>
        </a>
    </h1>

    <hr>
    {{ info|safe }}
    <hr>
    <p>{{ modif }}</p>
    <div>
       
    </div>

    <div id="removeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to delete this page?</p>
                </div>
                <div class="modal-footer">
                    <form action="/remove/{% if folder %}{{ folder }}/{% endif %}{{ title }}" method="GET">
                        <button type="submit" class="btn btn-default" style="background-color: #4CAF50;">
                                Yes
                        </button>
                    </form>
                    <button type="button" class="btn btn-default" style="background-color: #f44336;"
                            data-dismiss="modal">No
                    </button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
