<div class="sidebar mx-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-light d-none d-md-block" style="font-size: 1.1rem;" href="#">
        <i class="bi bi-house-door-fill"></i>
          Home
        </a>
        <div class="d-block d-md-none text-center">
            <i class="bi bi-house-door-fill fs-1"></i>
            <a>Home</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light d-none d-md-block" style="font-size: 1.1rem;" href="#">
        <i class="bi bi-house-door-fill"></i>
          Home
        </a>
        <div class="d-block d-md-none text-center">
            <i class="bi bi-house-door-fill fs-1"></i>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light d-none d-md-block" style="font-size: 1.1rem;" href="#">
        <i class="bi bi-info-circle-fill"></i>
          Home
        </a>
        <div class="d-block d-md-none text-center">
            <i class="bi bi-house-door-fill fs-1"></i>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light d-none d-md-block" style="font-size: 1.1rem;" href="#">
        <i class="bi bi-house-door-fill"></i>
          Home
        </a>
        <div class="d-block d-md-none text-center">
            <i class="bi bi-house-door-fill fs-1"></i>
          </div>
      </li>
    </ul>
  </div>