<div class="sidebar mx-2 mt-1">
{{system.sidebar |safe}}
</div>

<!--<div class="sidebar mx-2">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-light d-none d-md-block" href="#">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light d-none d-md-block" href="#">
        How to use the wiki
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light d-none d-md-block" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        > Extra content
      </a>
      <ul class="collapse" id="collapseExample">
        <li>test</li>
      </ul>
    </li>
  </ul>
</div>
-->