{% extends 'base.html' %}
{% block head %}
    <style>
        ul#list {
            list-style: none;
            padding: 0px
        }

        ul#list li {
            margin: 5px;
            padding-left: 15px;
            border-left-style: solid;
        }

        ul#list li:hover {

        {% if system.darktheme%}
            background: #3f4448;
        {%else%}
            background: #ECECEC;
        {%endif%}
        }

        ul#list li a {
            font-size: 1.2em;

        {% if system.darktheme%}
            color: whitesmoke;
        {%else%}
            color: #222326;
        {%endif%}
        }
    </style>
{% endblock %}

{% block content %}
    <a style="float:right" href="/toggle-sorting">Sort ({% if system.listsortMTime %}last modified{% else %}a-z{% endif%})</a>
    <h2><b>{{ folder }}</b> ALL FILES</h2>
    <ul id="list">
        <li><i><a href="../">..</a></i></li>
        {% for i in list %}
            <li>
                {% if i.folder != "" and i.folder != folder %}
                    <b><a class="folder" href="/list/{{ i.folder }}/">{{ i.folder }}/ </a></b>
                {% else %}
                    <a href="/{{ i.url }}">{{ i.doc }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
