{% extends "base.html" %}
{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Page name</label>
            <input type="text" class="form-control" id="name" name="PN" value="{{title}}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="25" name="CT">{{content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Save</button>
    </form>
{% endblock %}
