{% extends "base.html" %}
{%block head%}
<link href="/static/css/filepond.css" rel="stylesheet">
{%endblock%}
{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="name">Page name</label>
            <input type="text" class="form-control" id="name" name="PN" value="{{title}}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="25" name="CT">{{content}}</textarea>
        </div>
        <input type="file" multiple>
        <p id="message"></p>
        <button type="submit" class="btn btn-primary mb-2">Save</button>

    </form>
    <script src="/static/js/filepond.js"></script>
    <script>
        function copy_fun(mes){
             var tempInput = document.createElement("input");
            tempInput.style = "position: absolute; left: -1000px; top: -1000px";
            tempInput.value = mes;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);

                }
        let filename = "";
        let messages = [];
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement  );
        FilePond.setOptions({
                server:{
                    url:'/',
                    process:{
                        url: './img',
                        onload: (response) => {
                                    let filename=response;
                                    messages.push(filename);
                                    let mes = "";
                                    for (i in messages){
                                        md = "![caption](img/" + messages[i] + ")";
                                        m = "<li>Use <b>"+md+"</b> inside your markdown file <a id='myLink' href='#' onclick=\"copy_fun('"+md+"')\">Copy</a> </li>";
                                        mes = mes +m
                                    }
                                    document.getElementById("message").innerHTML=mes;
                                }
                                                        
                            }
                        },
                });
    </script>
{% endblock %}
