{% extends 'base.html'%}

{%block content%}
<h2>Found {{zoekterm|length}} result(s)</h2>
    <ul>
{%for i in zoekterm%}
<li>{% if i.folder != ""%}<a href="/{{i.url}}">{{i.doc}}</a>{%else%}<a href="{{i.url}}">{{i.doc}}{%endif%}<a></li>
{%endfor%}
    </ul>
{%endblock%}